<%= stylesheet_link_tag "login"%>

<div class="whole">

  <div class="login_form">

    <div class="wrapper">
      <div class="words">
        <div class="log_header">
        <p>Inner Circle </p>
        <%= image_tag("symbol_b.png")%>
        </div>
        <h2>Welcome Back</h2>
        <p>Please enter your credentials</p>
      </div>
      <div class="f">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= image_tag ("mail.svg")%>
            <div class="info">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <div class="field">
             <%= image_tag ("key.svg")%>
            <div class="info">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>
         <div class="actions">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
            <%= f.submit "Log in" %>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>

      </div>
        </div>
    </div>


</div>

<div class="footer">

</div>
